<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="{{id}}" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyt3JTiPK'; 
var conf = 'prod_26c6d13f333edac41afb715fde474d27'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<style>
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main{
	background-image: none!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-border-l{
	background-image: none!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-l{
	background-image: none!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-border-r,#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-r{
	background-image: none!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-main{
	border-color: transparent;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-t div.post-wrap-border-t-r,#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-t .post-wrap-border-t-r{
	border-top: 0!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-border-t .post-wrap-border-t-l,#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-t .post-wrap-border-t-l{
	background-image: none!important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main{
	border: 1px solid #efefef;
    background-color: #ffffff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.04), 0 1px 10px 0 rgba(0,0,0,.03), 0 2px 4px -1px rgba(0,0,0,.3);
    margin: 0;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-l,#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-l{
	width: 0;
}
#SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w div.header-login{
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
    border-color: #eee;
    background: #fff;
    color: rgba(0,0,0,.65);
    cursor: pointer;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w div.action-function-w ul li.function-face-w{
	background-image: url(https://oc8prtequ.qnssl.com/images/face.png)!important;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w div.action-function-w ul li.function-face-w:hover {
    background-image: url(https://oc8prtequ.qnssl.com/images/face-active.png)!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w div.action-function-w ul li.function-uploading-w .effect-w .uploading-b {
    background-image: url(https://oc8prtequ.qnssl.com/images/img.png)!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w div.action-function-w ul li.function-uploading-w:hover .effect-w .uploading-b {
    background-image: url(https://oc8prtequ.qnssl.com/images/img-active.png)!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w .action-issue-w .issue-btn-w a button.btn-fw {
    background-image: url(https://oc8prtequ.qnssl.com/images/comment.png);
    background-size: 102px 30px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3); 
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w .action-issue-w .issue-btn-w a button.btn-fw:hover {
    background-image: url(https://oc8prtequ.qnssl.com/images/comment.png);
    opacity: 0.8;
    background-size: 102px 30px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3); 
}
#SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w{
	display: none !important;
}
#SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w .head-img-w{
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
    border-radius: 50%;
}
#SOHUCS #SOHU_MAIN .module-cmt-header .section-title-w .title-user-w .user-wrap-w {
    top: 36px;
    left: 50px;
}
#SOHUCS #SOHU_MAIN .module-cmt-header .section-title-w .title-user-w .user-wrap-w span.wrap-name-w{
	font-size: 12px;
    color: #999;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w .cbox-prompt-w span.prompt-empty-w, #SOHUCS #SOHU_MAIN .module-cmt-float-bar .wrap-cont-w .cont-form-w .form-text-w span.text-null, #SOHUCS #SOHU_MAIN .module-cmt-float-bar .wrap-cont-w .cont-minwidth-w div.cont-comment-w a.comment-link-w, #SOHUCS #SOHU_MAIN .module-cmt-float-bar .wrap-cont-w .cont-minwidth-w div.cont-comment-w span.comment-text-w, #SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w div.service-wrap-w a:hover, #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w div.header-login, #SOHUCS #SOHU_MAIN .module-cmt-header .section-title-w .title-user-w .user-wrap-w span.wrap-name-w, #SOHUCS #SOHU_MAIN .module-cmt-list .action-click-gw span.click-disable-eg a em.icon-name-bg, #SOHUCS #SOHU_MAIN .module-cmt-list .block-title-gw ul li div.title-name-gw, #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .cmt-list-number .comment-number span.cy-number, #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .cmt-list-number span.comment-number, #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .type-lists li.active, #SOHUCS #SOHU_MAIN .module-cmt-list .msg-wrap-gw .wrap-action-gw .action-click-gw span a:hover, #SOHUCS #SOHU_MAIN .module-cmt-list .picture-box-gw div.box-action-gw a:hover, #SOHUCS #SOHU_MAIN .module-cmt-list .wrap-action-gw .action-click-gw span a:hover em.icon-name-bg, #SOHUCS #SOHU_MAIN .module-cmt-list .wrap-user-gw span.user-name-gw a{
	color: #607d8b;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .block-title-gw ul li .title-name-gw div.title-name-gw-tag{
	background-image: none;
    border-left: 3px solid rgba(0,0,0,.45);
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-issue-gw{
	padding-top: 0
}
#SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w{
	z-index: 5;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw{
	background: #fff;
    padding: 10px;
    transition: all .3s;
    border-radius: 3px;
    border-bottom: 0;
    box-shadow: 0 5px 7px 0 rgba(193,204,215,.61);
}
#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw:hover{
	box-shadow: 0 8px 10px 0 rgba(193,204,215,.8);
}
#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw .wrap-user-gw{
	margin-top: 5px;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-issue-gw .issue-wrap-gw{
	color: rgba(0,0,0,.65);
	font-size: 12px;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type div.cmt-list-border {
    background-color: #dddee1;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .type-lists li.active {
    background-image: none;
    border-bottom: 1px solid #ccc;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .cmt-list-number .comment-number .cy-number {
    font-size: 12px;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type {
    border-bottom: 1px solid #e9eaec;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .cmt-list-border{
	bottom: 0;
}
#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item {
    border: 1px solid #dddee1!important;
    box-shadow: 0 8px 10px 0 rgba(193,204,215,.8);
}
#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item a.nt-text, #SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item a.nt-text i {
    color: #495060!important;
    font-size: 12px;
}
#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item .nt-logo,#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item .nt-logo,#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item .nt-logo{
	background: none !important;
	background-image: none !important;
}
#SOHUCS #SOHU_MAIN .module-cmt-notice ul.nt-list li.nt-item{
	border: 0 !important;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w .action-function-w .uploading-wrapper-dw div.wrapper-image-dw, #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-main, #SOHUCS #SOHU_MAIN .module-cmt-float-bar .wrap-cont-w .cont-form-w div.form-text-w, #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w div.header-login, #SOHUCS #SOHU_MAIN .module-cmt-list .module-cmt-box .post-wrap-w div.post-wrap-main {
    border-color: e9eaec;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-build-gw div.block-cont-hover-e {
    background-color: rgba(92, 173, 255,.15);
    background-color: #f8f8f9;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-build-gw .build-floor-gw {border: 1px solid #eee;
    position: relative;
    border-radius: 5px;
}

#feedAv{ margin-top: -250px!important;transform: scale(0);}
</style>
