<footer class="site-footer clearfix ">
  <section>
  {{ghost_foot}}
  </section>

  <section class="poweredby ">
  	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/flute/skywalker">SkyWalker </a>
  </section>
</footer>
