<footer class="site-footer clearfix ">
  <section class="copyright">
  	<a href="//www.lubaba.xyz/" target="_blank">Lucifer</a> © 2018
  </section>
  <section class="poweredby ">
  	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/flute/skywalker">SkyWalker </a>
  </section>
  <section>
  {{ghost_foot}}
  </section>
</footer>
