<footer class="site-footer clearfix ">
  <section>
  {{ghost_foot}}
  </section>

  <section class="copyright">
  	<a href="//www.ldsun.com/" target="_blank">Ludis</a> © 2017
  </section>
  <section class="poweredby ">
  	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/flute/skywalker">SkyWalker </a>
  </section>
  <section>
      <a href="//www.miitbeian.gov.cn/" target="_blank">京ICP备14015814号</a>
  </section>
</footer>
