<ul class="link">
      <li><a href="" target="_blank"><i class="fa fa-weibo"></i></a></li>
      <li><a href=""><i class="fa fa-github"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
</ul>
