<ul class="link">
    <li><a href="https://weibo.com/ifluter" target="_blank"><i class="fa fa-weibo"></i></a></li>
    <li><a href="https://github.com/flute" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:service@ldsun.com"><i class="fa fa-envelope"></i></a></li>
</ul>