<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{{meta_title}}</title>
	{{ghost_head}}
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/app.min.css">
</head>
<body>
	{{{body}}}
	{{ghost_head}}
<script src="/assets/js/zepto.min.js"></script>
<script src="/assets/js/highlight.min.js"></script>
<script src="/assets/js/app.min.js"></script>
</body>
</html>